.interest {
	font-size:2em;
	color:#999;
}

.intro {
	font-size:1.2em;
	margin-top:20px;
	color:#666;
}

.hbheader {
	color:#D33F49;
}

.hbvalue {
	color:#00447C;
}

.recharts-wrapper {
	display:inline-block;
}

.mapbite {
	display:inline-block;
}

.tables {
	display:inline-block;
	vertical-align:top;
}